html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background: linear-gradient(
      0deg,
      rgba(55, 201, 157, 0.267),
      rgba(55, 201, 157, 0.267)
    ),
    url('./images/bg-pattern.png');
}

img {
  width: auto;
  height: 100%;
}

ul {
  margin: 0;
}

#page-container {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  padding: 70px;
}

.search-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  position: relative;
  display: block;
}

.text {
  font-size: 20px;
}

input {
  width: 800px;
  height: 45px;
  border: 4px solid rgb(73, 114, 119);
  border-radius: 30px;
  font-size: 16px;
  background-color: #ffffff;
  padding: 12px 20px 12px 50px;
  outline-style: none;
}

input:focus {
  border-color: #a8395e;
}

.search-svg {
  position: absolute;
  top: 32%;
  left: 20px;
  fill: #a8395e;
}

.countries-container {
  font-size: 25px;
}

.countries-list {
  padding-left: 30px;
}

.countries-list-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  width: 800px;
  border: 4px solid rgb(73, 114, 119);
  border-radius: 30px;
  background-color: #ffffff;
}

.data-wrapper {
  max-width: 800px;
}

.card-container {
  width: 800px;
  padding: 30px;

  margin-top: 10px;
  width: 800px;
  border: 4px solid #497277;
  border-radius: 30px;
  background-color: #ffffff;
}

.card-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  align-items: center;
}

.country-name-title {
  margin: auto;
  text-align: center;
}

.info-wrapper {
  min-width: 40%;
  font-size: 25px;
  list-style: none;
  padding: 0px;
}

.info-item {
  font-weight: 700;
}

.info-item + .info-item {
  margin-top: 20px;
}

.item-value {
  font-weight: 400;
}

.flag-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0px 5px rgb(0 0 0 / 50%);
}

.lang-list {
  list-style: disc;
}

.lang-item {
  margin-top: 5px;
  font-size: 20px;
}

[data-pnotify] {
  top: 5px !important;
  right: 50% !important;
  margin-right: -150px !important;

  position: absolute;
  height: auto;
  z-index: 9999;
}
